body {
    font-family: Garamond;
    background: #e4e4e4;
    color: gray;
    text-align: center;
  font-size: 30px;
  }
  
    h1{
      color: gray;
    font-size: 30px;
  }
  p{
    
    font-size: 30px;
    
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 30px;
  }
  a{
    font-size: 30px;
  }
  